$dark-blue-gray: #666CA3;
$yankees-blue: #13183F;
$roman-silver: #83869A;
$sasquatch-socks: #F74780;
$carnation-pink: #FFA7C3;
$white: #FFFFFF;
$frostbite: #F02AA6;
$outrageous-orange: #FF6F48;
$ultramarine-blue: #4851FF;
$bg-gradient-1: linear-gradient(180deg, $frostbite 0.04%, $outrageous-orange 100%);
$bg-gradient-2: linear-gradient(180deg, $ultramarine-blue 0%, $frostbite 99.92%);